@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

/*mobile version*/
@media only screen and (max-width: 1000px){
    #stripe{
        background-color:#008278;
        position:absolute;
        color:rgb(0,130,120);
        opacity: 0.1;
        height:300px;
        /* min-width:1150px;
        max-width: fit-content; */
        width:130%;
        /* width: 1150px;
        height: 875px;
        margin-top:-800px; */
    }
    .container{
        display:flex;
        flex-direction: column;
        justify-content:content;
        margin-left:100px;
        /* margin-right:100px; */
    }
    h1.header_element{
       font-family:'Montserrat';
       font-weight:bold;
       font-style:italic;
       font-size: 24px;
       color:rgb(2,40,81);
       src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
       text-align: center;
    }
    h1#title1{
        margin-top:250px;
    }
    div#logo_area{
        display: flex;
        flex-grow: 10;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    div#logo_text{
        margin-left: 15px;
    }

    div#logotext1{
        font-family:'Montserrat';
        font-size: 16px;
        
     }
    div#logotext2{
       font-family:'Montserrat';
       font-weight: bold;
       font-size: 16px;
       color:rgb(0,130,120);
    }
    div#logotext3{
        font-family:'Montserrat';
        font-size: 16px;
     }

    p.bodytext{
        font-family:'Montserrat';
        font-size: 18px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
   .tile1{
       display: flex;
       flex-direction: column-reverse;
   }
   .captions{
    font-family:'Montserrat';
    font-size: 14px;
   }


}













